<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0"
                      sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="FileCopier"
         value="App_Data\FileCopier\"/>
    <add key="MSBuild"
         value="App_Data\MSBuild\"/>
    <add key="TFS"
         value="App_Data\TFS\"/>
    <add key="UIConfigs"
         value="App_Data\UIConfigs\"/>
  </appSettings>
</configuration>